<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <div>
        чота о чём-то
    </div>
    <div>
        <div>
            //большое изображение
        </div>
        <div>
            //надпись мы выбираем будущее
        </div>
    </div>

    <div>
        <div>
            изображение
        </div>
        <div>
            чота вот такое хорошее
        </div>
    </div>

    <div>
        //тут будут варианты для одних
    </div>
    <div>
        //тут будут варианты для других
    </div>
    <div>
        //тут буду варианты для оных
    </div>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
    </nav>
</body>
</html>